/* Contenedor principal */
.main-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    background-color: var(--colorFondo);
}

/* Sidebar */
.sidebar {
    background-color: var(--inputBg);
    padding: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header .icon {
    width: 30px; /* Ajustar el tama침o del icono */
    margin-right: 10px;
}

.sidebar-title {
    font-size: 18px; /* Ajustar el tama침o del texto */
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: var(--colorBotones);
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #3a8ca5;
}

.menu li a.active {
    background-color: #3a8ca5;
}

/* Contenido principal */
.content {
    padding: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background-color: var(--colorBotones);
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    background-color: #3a8ca5;
}

/* Secci칩n de transferencia */
.transfer-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.operator-select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Bot칩n de aceptar */
.accept-button-container {
    display: flex;
    justify-content: flex-end;
}

.accept-button {
    padding: 10px 20px;
    background-color: var(--colorBotones);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #3a8ca5;
}
