<div class="login">
    <div class="form-container">
        <div class="razon">
            <img src="../../assets/carpeta.png" alt="logo" class="logo">
            <br>
            <div class="titulo">Mi Carpeta Ciudadana</div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
            <label for="email" class="label">Usuario</label>
            <input type="text" id="email" formControlName="email" placeholder="Usuario" class="input input-email">

            <label for="password" class="label">Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="********" class="input input-password">

            <button type="submit" class="primary-button login-button">Confirm</button>
        </form>

        <button type="button" class="primary-button register-button" (click)="goToRegister()">Create Account</button>

        <a class="evento" (click)="goToForgotPassword()">Forgot my password</a>

    </div>
</div>
