<div class="main-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="../../assets/carpeta.png" alt="icono de carpeta" class="icon">
            <h2 class="sidebar-title">Mi Carpeta</h2>
        </div>
        <ul class="menu">
            <li><a class="active">Perfil</a></li>
            <li><a (click)="goToTransferRequest()">Solicitud de Transferencia</a></li>
            <li><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
    </aside>

    <!-- Contenido principal -->
    <section class="content">
        <header class="content-header">
            <h1>Perfil del Usuario</h1>
            <button class="back-button" (click)="goToMainPage()">Main Page</button>
        </header>

        <!-- Sección de detalles del perfil -->
        <section class="profile-section">
            <h2>{{ user.name || 'Nombre del Usuario' }}</h2>
            <div class="form-group">
                <p>ID del Usuario: <span id="user-id">{{ user.id || '1234567890' }}</span></p>
                <p>Email: <span id="user-email">{{ user.email || 'usuario@example.com' }}</span></p>
            </div>

            <div class="profile-actions">
                <button class="primary-button change-password-button">Cambiar Contraseña</button>
            </div>
        </section>
    </section>
</div>
