<div class="login">
    <div class="form-container">
        
        <div class="razon">
            <img src="../../assets/carpeta.png" alt="logo" class="logo">
            <br>
            <div class="titulo">Mi Carpeta Ciudadana</div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">

            <label for="id" class="label">Documento de Identidad</label>
            <input type="text" id="id" formControlName="id" placeholder="1234567890" class="input input-id">
            <div *ngIf="registerForm.get('id')?.invalid && registerForm.get('id')?.touched" class="error-message">
                El documento debe tener exactamente 10 dígitos.
            </div>

            <label for="name" class="label">Nombre Completo</label>
            <input type="text" id="name" formControlName="name" placeholder="Nombre Apellido A" class="input input-name">

            <label for="address" class="label">Dirección</label>
            <input type="text" id="address" formControlName="address" placeholder="Calle X # Y-Z" class="input input-address">

            <label for="email" class="label">Correo Electrónico</label>
            <input type="email" id="email" formControlName="email" placeholder="micorreo@micarpeta.com" class="input input-email">

            <label for="password" class="label">Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="********" class="input input-password">
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
                La contraseña debe de tener al menos una mayuscula, un caracter especial y minimo 8 caracteres
            </div>

            <label for="password_confirm" class="label">Confirmar Contraseña</label>
            <input type="password" id="password_confirm" formControlName="password_confirm" placeholder="********" class="input input-password">
            <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('password_confirm')?.touched" class="error-message">
                Las contraseñas no coinciden.
            </div>

            <button type="submit" class="primary-button register-button">Registrar</button>

            <a class="evento" href="/">Ya tengo una cuenta</a>
        </form>
    </div>
</div>
