/* Contenedor principal con grid layout */
.main-container {
    display: grid;
    grid-template-columns: 250px 1fr;  /* Sidebar y contenido principal */
    height: 100vh;
    background-color: var(--colorFondo);  /* Fondo general */
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

/* Sidebar (barra lateral) */
.sidebar {
    background-color: var(--sidebarBg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaciado entre los elementos */
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 24px;
    margin-right: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    display: block;
    padding: 12px 20px;
    background-color: var(--colorBotones);
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Efecto hover para botones */
.menu li a:hover {
    background-color: #3a8ca5;
    cursor: pointer;
}
/* Estilo para el botón activo (presionado) */
.menu li a.active {
    background-color: #3a8ca5; /* Fondo del botón activo */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra interna */
    color: white; /* Color del texto en el botón activo */

}

/* Contenido principal */
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre elementos del contenido */
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
    }
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Tabla de documentos */
.document-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.document-list th, .document-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.document-list th {
    background-color: var(--sidebarBg);
    color: #333;
}

/* Mostrar solo 10 caracteres del nombre */
.document-list td {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .document-list td {
        max-width: 50px;
    }
}

/* Botones en la tabla */
.share-button {
    background-color: var(--colorBotones);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.share-button:hover {
    background-color: #3a8ca5;
}
