<div class="main-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="../../assets/carpeta.png" alt="home" class="icon">
            <h2>Mi Carpeta</h2>
        </div>
        <ul class="menu">
            <!-- Agregamos la clase 'active' para que se vea como presionado -->
            <li><a class="active">Mis Documentos</a></li>
            <li><a (click)="goToCertificar()">Certificar Documentos</a></li>
            <li><a (click)="goToNuevoDocumento()">Nuevo Documento</a></li>
            <li><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
    </aside>

    <section class="content">
        <header class="content-header">
            <input type="text" placeholder="Buscar" class="search-bar" [(ngModel)]="searchQuery" (input)="onSearch()">
            <button class="profile-button perfil-button" (click)="goToProfile()">Perfil</button>
        </header>

        <section *ngIf="!searchQuery" class="document-list">
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Tamaño</th>
                  <th>Última Modificación</th>
                  <th>Compartir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let document of documents">
                  <td>{{ document.name }}</td>
                  <td>{{ document.size }} KB</td>
                  <td>{{ document.modified | date:'short' }}</td>
                  <td><button class="share-button">🔗</button></td>
                </tr>
              </tbody>
            </table>
          </section>
          
          <!-- Sección para mostrar solo los documentos filtrados cuando hay una búsqueda -->
          <section *ngIf="searchQuery" class="document-list">
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Tamaño</th>
                  <th>Última Modificación</th>
                  <th>Compartir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let document of filteredDocuments">
                  <td>{{ document.name }}</td>
                  <td>{{ document.size }} KB</td>
                  <td>{{ document.modified | date:'short' }}</td>
                  <td><button class="share-button">🔗</button></td>
                </tr>
              </tbody>
            </table>
          </section>
    </section>
</div>
